<h1>LOGIN</h1>

<form action="/login" method="POST">
  <legend>Creating a Trip</legend>

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" name="email" class="form-control" placeholder="Email here">
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" placeholder="password here">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>