<h1>New User form</h1>

<form action="/users/new" method="POST">
  <legend>Creating a Trip</legend>
  <div class="mb-3">
    <label class="form-label">User</label>
    <input type="text" name="user" class="form-control" placeholder="User here">
  </div>

  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" name="name" class="form-control" placeholder="Ypur name here">
  </div>

  <div class="mb-3">
    <label class="form-label">Last Name</label>
    <input type="text" name="lastName" class="form-control" placeholder="Your Last Name here">
  </div>

  <div class="mb-3">
    <label class="form-label">Birthdate</label>
    <input type="date" name="birthdate" class="form-control" placeholder="Your birthdate here">
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" name="email" class="form-control" placeholder="Email here">
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" placeholder="password here">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>