<h1>Trip summary</h1>

<div>
  <h6 class="card-subtitle mb-2 text-muted">{{trip.from}}</h6>
  <h6 class="card-subtitle mb-2 text-muted">{{trip.to}}</h6>
</div>

<form 
  action="/trips/book/{{trip.id}}" method="Post">
  <button class="publish btn btn-primary rounded-pill text-white mb-5 border-0 fw-normal" type="submit">
    Pay {{trip.price}}€
  </button>
</form>