<form action="/trips/new" method="POST">
  <legend>Creating a Trip</legend>

  <div class="mb-3">
    <label for="from" class="form-label">From</label>
    <input type="text" name="from" class="form-control" placeholder="Origin city">
  </div>

  <div class="mb-3">
    <label for="to" class="form-label">to</label>
    <input type="text" name="to" class="form-control" placeholder="Destiny city">
  </div>

  <div class="mb-3">
    <label for="disabledTextInput" class="form-label">Price</label>
    <input type="number" name="price" class="form-control" placeholder="Price in €">
  </div>

  <div class="mb-3">
    <label for="disabledTextInput" class="form-label">Trip start date</label>
    <input type="date" name="date" class="form-control" placeholder="Starting date here">
  </div>

  <div class="mb-3">
    <label for="disabledTextInput" class="form-label">Number of seats</label>
    <input type="number" name="seats" class="form-control" placeholder="Number of seats here">
  </div>

  <div class="mb-3">
    <label for="disabledTextInput" class="form-label">Comments:</label>
    <textarea name="comments" class="form-control">Comments here</textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>